<%- include("../includes/head.ejs")  %> 
<%- include("../includes/nav.ejs")  %> 
<div class="hero is-primary">
  <div class="hero-body">
    <p class="title"><%= business.businessName %></p>
    <p class="subtitle"><%= business.address %></p>
    <p class="subtitle">CO2 Average: <%= readingsAverage %></p>
    <p class="subtitle">CO2 Average: <%= normalizedResult %></p>

  </div>
</div>
 <% reviews.forEach(review => { %> <%- include('../review/displayReview', {review:
review}) %> <% }) %>
<%- include('../review/createReview', {businessId: business._id}) %>
