<%- include("../includes/head.ejs")  %> 
</head>
<%- include("../includes/nav.ejs")  %> 
<% if(messages.info){ %> <% messages.info.forEach(function(message) { %>
  <div class="box">
    <p>Error</p>
    <%= message %>
  </div>
<% }); %> <% } %>  
<div class="hero is-primary">
  <div class="hero-body">
    <p class="title"><%= business.businessName %></p>
    <p class="subtitle"><%= business.address %></p>
    <!-- if statement to check the quantity of CO2 -->
    <% if (normalizedResults[0] === "c") { %>
      <div>
        <span><p class="subtitle">Current Air Circulation in Building: </p></span><p style="color: red" class="subtitle">Bad</p>
      </div>
      
    <% } else if (normalizedResults[0] === "b") { %>
      <div>
        <span><p class="subtitle">Current Air Circulation in Building: </p></span><p style="color: yellow" class="subtitle">Ok</p>
      </div>

    <% } else if (normalizedResults[0] === "a"){ %>
      <div>
        <span><p class="subtitle">Current Air Circulation in Building: </p></span><p style="color: green" class="subtitle">Good</p>
      </div>

    <% } else if (normalizedResults[0] === "d"){ %>
      <div>
        <span><p class="subtitle">Current Air Circulation in Building: </p></span><p style="color: purple" class="subtitle">Very Bad</p>
    <% } %>
    <br>

    <p class="subtitle">Total people who have entered this business: <%= peopleWhoEnter[0] %></p>


    <!-- if statement to check the number of people  -->
    <% if (normalizedResults[1] === "c") { %>
      <div>
        <span><p class="subtitle">Current amount of People: </p></span><p style="color: red" class="subtitle">High</p>
      </div>
      
    <% } else if (normalizedResults[1] === "b") { %>
      <div>
        <span><p class="subtitle">Current amount of People: </p></span><p style="color: yellow" class="subtitle">Medium</p>
      </div>

    <% } else if (normalizedResults[1] === "a"){ %>
      <div>
        <span><p class="subtitle">Current amount of People: </p></span><p style="color: green" class="subtitle">Low</p>

    <% } else if (normalizedResults[1] === "d"){ %>
      <div>
        <span><p class="subtitle">Current amount of People: </p></span><p style="color: purple" class="subtitle">Very High</p>
    <% } %>
    <br>

    <p class="subtitle">Total People Who have entered wearing masks: <%= peopleWhoEnter[1] %></p>

    <br>

    <p class="subtitle">Carbon Dioxide Average: <%= co2Average %>ppm</p>
    <p class="subtitle"> Current Percentage of mask wearers: <%= ratio %>% </p>

   
  </div>
</div>
 <% reviews.forEach(review => { %> <%- include('../review/displayReview', {review:
review}) %> <% }) %>
<%- include('../review/createReview', {businessId: business._id}) %>

